# TODO
- rate limiting (how will we solve that problem?)
    - in-house solution
    - external library
- getting 3 years of historical data for backtesting
    - 5000 datapoints per request from twelve data
    - stitch data together from multiple requests
    -

In [3]:
config = configparser.ConfigParser()
config.read('trading.cfg')
API_KEY = config['Twelvedata']['api_key']

### Collecting api key for Twelvedata

In [ ]:
from twelvedata import TDClient
import pandas as pd
import configparser
import datetime

### Finding 3 years delta from current date to gather minute data

In [22]:
YEARS = 3
current_date = datetime.date.today()
date_offset = datetime.timedelta(days=365*YEARS + 10)
start_date = current_date - date_offset
str(start_date)

In [24]:
# Initialize client - apikey parameter is requiered
td = TDClient(apikey=API_KEY)

# Construct the necessary time series
ts = td.time_series(
    symbol="MSFT",
    interval="1min",
    start_date = start_date
    outputsize = 5000
)

# Returns pandas.DataFrame
data = ts.as_pandas()

BadRequestError: Invalid **outputsize** provided: 1576800. Accepts values in the range from 1 to 5000 inclusive.

In [25]:
data.head()

                          open       high        low      close  volume
datetime
2023-06-07 15:59:00  323.59000  323.76001  323.32999  323.45999  894665
2023-06-07 15:58:00  323.51001  323.67999  323.48010  323.59000  251045
2023-06-07 15:57:00  323.53000  323.64001  323.45999  323.51001  182177
2023-06-07 15:56:00  323.23999  323.70999  323.20999  323.53000  192241
2023-06-07 15:55:00  323.29001  323.29999  323.04001  323.23990  266697

In [27]:
data.size

150

In [ ]:
type(data

pandas.core.frame.DataFrame