In [18]:
import requests
import configparser
import pandas as pd

In [9]:
config = configparser.ConfigParser()
config.read('config.cfg')
API_KEY = config['API_KEY']['API_KEY']
API_KEY

'64909c9dd62011.49063629'

In [20]:
req = requests.get(f'https://eodhistoricaldata.com/api/eod/AAPL.US?api_token={API_KEY}')

In [22]:
with open('AAPL.csv', 'w') as file:
    file.write(req.text)

In [23]:
pd.read_csv('AAPL.csv')

,Date,Open,High,Low,Close,Adjusted_close,Volume
0,1980-12-12,28.7392,28.8736,28.7392,28.7392,0.0996,469033600
1,1980-12-15,27.3728,27.3728,27.2608,27.2608,0.0944,175884800
2,1980-12-16,25.3792,25.3792,25.2448,25.2448,0.0875,105728000
3,1980-12-17,25.8720,26.0064,25.8720,25.8720,0.0896,86441600
4,1980-12-18,26.6336,26.7456,26.6336,26.6336,0.0923,73449600
...,...,...,...,...,...,...,...
10713,2023-06-12,181.2700,183.8900,180.9700,183.7900,183.7900,54274900
10714,2023-06-13,182.8000,184.1500,182.4400,183.3100,183.3100,54929100
10715,2023-06-14,183.3700,184.3900,182.0200,183.9500,183.9500,57462900
10716,2023-06-15,183.9600,186.5200,183.7800,186.0100,186.0100,65433200
10717,2023-06-16,186.7300,186.9900,184.2700,184.9200,184.9200,101235600